<a href="https://colab.research.google.com/github/dimasdaniswara/H8_36/blob/master/H8Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('googleplaystore.csv')

In [3]:
df.head()

                                                 App  ...   Android Ver
0     Photo Editor & Candy Camera & Grid & ScrapBook  ...  4.0.3 and up
1                                Coloring book moana  ...  4.0.3 and up
2  U Launcher Lite â€“ FREE Live Cool Themes, Hide ...  ...  4.0.3 and up
3                              Sketch - Draw & Paint  ...    4.2 and up
4              Pixel Draw - Number Art Coloring Book  ...    4.4 and up

[5 rows x 13 columns]

In [4]:
df.shape

(10841, 13)

In [5]:
df.isnull().sum()

App                  0
Category             0
Rating            1474
Reviews              0
Size                 0
Installs             0
Type                 1
Price                0
Content Rating       1
Genres               0
Last Updated         0
Current Ver          8
Android Ver          3
dtype: int64

In [6]:
df.dropna(how='any',inplace=True)

In [7]:
df.shape

(9360, 13)

In [8]:
df.isnull().sum()

App               0
Category          0
Rating            0
Reviews           0
Size              0
Installs          0
Type              0
Price             0
Content Rating    0
Genres            0
Last Updated      0
Current Ver       0
Android Ver       0
dtype: int64

# Highest and Lowest Apps

In [9]:
apps_paid = df[df['Type']=='Paid']

In [10]:
apps_paid.head()

                                               App  ... Android Ver
234  TurboScan: scan documents and receipts in PDF  ...  4.0 and up
235                 Tiny Scanner Pro: PDF Doc Scan  ...  3.0 and up
290  TurboScan: scan documents and receipts in PDF  ...  4.0 and up
291                 Tiny Scanner Pro: PDF Doc Scan  ...  3.0 and up
427                             Puffin Browser Pro  ...  4.1 and up

[5 rows x 13 columns]

In [11]:
apps_paid.Price = apps_paid.Price.apply(lambda x: x.replace('$',''))

/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [12]:
apps_paid.Price = apps_paid.Price.apply(lambda x: float(x))

/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py:5303: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [13]:
apps_paid['Price'].max()

400.0

In [14]:
apps_paid[
          apps_paid['Price']==400
]

                           App   Category  ...  Current Ver Android Ver
4367  I'm Rich - Trump Edition  LIFESTYLE  ...        1.0.1  4.1 and up

[1 rows x 13 columns]

Apps dengan harga paling tinggi adalah I'm Rich - Trump Edition

In [15]:
apps_paid.sort_values('Price',ascending=False).head(10)

                                 App   Category  ...  Current Ver   Android Ver
4367        I'm Rich - Trump Edition  LIFESTYLE  ...        1.0.1    4.1 and up
5356               I Am Rich Premium    FINANCE  ...          1.6    4.0 and up
4362                      ðŸ’Ž I'm rich  LIFESTYLE  ...        1.0.0    4.4 and up
5364  I am rich (Most expensive app)    FINANCE  ...            2  4.0.3 and up
4197          most expensive app (H)     FAMILY  ...          1.0    7.0 and up
5362                   I Am Rich Pro     FAMILY  ...         1.54    1.6 and up
5373              I AM RICH PRO PLUS    FINANCE  ...        1.0.2    4.1 and up
5359              I am rich(premium)    FINANCE  ...          3.4    4.4 and up
5358                      I am Rich!    FINANCE  ...          1.0    4.1 and up
5351                       I am rich  LIFESTYLE  ...          2.0  4.0.3 and up

[10 rows x 13 columns]

## Category in Total

In [16]:
data_category = df.groupby('Category').count()

In [19]:
data_category.max

<bound method DataFrame.max of                       App  Rating  ...  Current Ver  Android Ver
Category                           ...
ART_AND_DESIGN         61      61  ...           61           61
AUTO_AND_VEHICLES      73      73  ...           73           73
BEAUTY                 42      42  ...           42           42
BOOKS_AND_REFERENCE   178     178  ...          178          178
BUSINESS              303     303  ...          303          303
COMICS                 58      58  ...           58           58
COMMUNICATION         328     328  ...          328          328
DATING                195     195  ...          195          195
EDUCATION             155     155  ...          155          155
ENTERTAINMENT         149     149  ...          149          149
EVENTS                 45      45  ...           45           45
FAMILY               1746    1746  ...         1746         1746
FINANCE               323     323  ...          323          323
FOOD_AND_DRINK        109     109  ...          109          109
GAME                 1097    1097  ...         1097         1097
HEALTH_AND_FITNESS    297     297  ...          297          297
HOUSE_AND_HOME         76      76  ...           76           76
LIBRARIES_AND_DEMO     64      64  ...           64           64
LIFESTYLE             314     314  ...          314          314
MAPS_AND_NAVIGATION   124     124  ...          124          124
MEDICAL               350     350  ...          350          350
NEWS_AND_MAGAZINES    233     233  ...          233          233
PARENTING              50      50  ...           50           50
PERSONALIZATION       312     312  ...          312          312
PHOTOGRAPHY           317     317  ...          317          317
PRODUCTIVITY          351     351  ...          351          351
SHOPPING              238     238  ...          238          238
SOCIAL                259     259  ...          259          259
SPORTS                319     319  ...          319          319
TOOLS                 733     733  ...          733          733
TRAVEL_AND_LOCAL      226     226  ...          226          226
VIDEO_PLAYERS         160     160  ...          160          160
WEATHER                75      75  ...           75           75

[33 rows x 12 columns]>

In [20]:
df_category = df.Category.value_counts().reset_index()

In [23]:
df_category.rename(columns={'index' : 'Category','Category':'Total'})

               Category  Total
0                FAMILY   1746
1                  GAME   1097
2                 TOOLS    733
3          PRODUCTIVITY    351
4               MEDICAL    350
5         COMMUNICATION    328
6               FINANCE    323
7                SPORTS    319
8           PHOTOGRAPHY    317
9             LIFESTYLE    314
10      PERSONALIZATION    312
11             BUSINESS    303
12   HEALTH_AND_FITNESS    297
13               SOCIAL    259
14             SHOPPING    238
15   NEWS_AND_MAGAZINES    233
16     TRAVEL_AND_LOCAL    226
17               DATING    195
18  BOOKS_AND_REFERENCE    178
19        VIDEO_PLAYERS    160
20            EDUCATION    155
21        ENTERTAINMENT    149
22  MAPS_AND_NAVIGATION    124
23       FOOD_AND_DRINK    109
24       HOUSE_AND_HOME     76
25              WEATHER     75
26    AUTO_AND_VEHICLES     73
27   LIBRARIES_AND_DEMO     64
28       ART_AND_DESIGN     61
29               COMICS     58
30            PARENTING     50
31               EVENTS     45
32               BEAUTY     42

Kategori terbanyak jatuh pada...

## Most Downloaded App

In [24]:
df.head()

                                                 App  ...   Android Ver
0     Photo Editor & Candy Camera & Grid & ScrapBook  ...  4.0.3 and up
1                                Coloring book moana  ...  4.0.3 and up
2  U Launcher Lite â€“ FREE Live Cool Themes, Hide ...  ...  4.0.3 and up
3                              Sketch - Draw & Paint  ...    4.2 and up
4              Pixel Draw - Number Art Coloring Book  ...    4.4 and up

[5 rows x 13 columns]

In [26]:
df.Installs.replace('[\+]','',regex=True,inplace=True)