# Python Basic Data Types

## Integer

In [2]:
1

1

In [3]:
#data berupa angka

print(type(1))

<class 'int'>

## Float

In [8]:
print(4.2)
print(type(4.2))
print(.4e7)
print(.4e-3)

4.2
<class 'float'>
4000000.0
0.0004

## String

In [9]:
print("Hello World!")

Hello World!

In [10]:
print("Let's")

Let's

## Boolean

In [11]:
True
False

False

## Variable

In [13]:
beefpizza = 5
print(beefpizza)

5

In [14]:
chickenpizza = beefpizza = 5

In [15]:
beefpizza = 'kosong'
print(chickenpizza,beefpizza)

5 kosong

In [16]:
#Angka tidak boleh diawal nama variable
numberOfCollegeGraduates = 3 #camel case
NumberOfCollegeGraduates = 3 #Pascal Case
number_of_college_graduates = 3 #snake Case

## Operator

In [17]:
a = 10
b = 5
print (a+b)

15

In [18]:
a + b * 240

1210

### Arithmetic Operator

In [21]:
a = 3
b = 4
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a**b)

7
-1
12
0.75
3
81

### Comparison Operator

In [22]:
a = 3
b = 4
print(a==b)
print(a<b)
print(a>b)
print(a!=b)

False
True
False
True

## String Manipulation

In [23]:
s = 'foo'
t = 'bar'
u = 'baz'

print(s+t+u)

foobarbaz

In [24]:
print(s*3)

foofoofoo

In [25]:
print(s in "That food for us")

True

In [26]:
#Case Conversion
s = 'Dimas'
print(s.capitalize())
print(s.lower())

Dimas
dimas

## Python List

In [27]:
a = ['foo', 'bar', 'baz', 'qux']
b = ['baz', 'qux', 'bar', 'foo']


a == b

False

In [29]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
print(a[-1])
print(a[-6])

corge
foo

In [30]:
#Slicing - list[start:stop:]
a[2:5]

['baz', 'qux', 'quux']

In [31]:
# The concatenation (+) and replication (*) operators:

print(a)

print(a + ['grault', 'garply'])
print(a * 2)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'grault', 'garply']
['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [32]:
# len(), min(), max()

print(a)

print(len(a))
print(min(a))
print(max(a))

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
6
bar
qux

In [33]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

print(a)

a[2] = 10
a[-1] = 20

print(a)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['foo', 'bar', 10, 'qux', 'quux', 20]

In [34]:
# A list item can be deleted with the del command:

del a[3]
print(a)

['foo', 'bar', 10, 'quux', 20]

In [35]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

print(a[1:4])

a[1:4] = [1.1, 2.2, 3.3, 4.4, 5.5]

print(a)

['bar', 'baz', 'qux']
['foo', 1.1, 2.2, 3.3, 4.4, 5.5, 'quux', 'corge']

## Tuples

In [36]:
t = ('foo', 'bar', 'baz', 'qux', 'quux', 'corge') #immutable atau tidak dapat diganti

print(t)

('foo', 'bar', 'baz', 'qux', 'quux', 'corge')

In [37]:
# packing and unpacking

(s1, s2, s3, s4) = ('foo', 'bar', 'baz', 'qux')

s1

'foo'

## Python Dictionary

In [38]:
MLB_team = {
    'Colorado': 'Rockies',
    'Boston': 'Red Sox',
    'Minnesota': 'Twins',
    'Milwaukee': 'Brewers',
    'Seattle': 'Mariners'
}

#key : Value

In [39]:
print(MLB_team['Minnesota'])
print(MLB_team['Colorado'])

# error
# MLB_team['Toronto']

Twins
Rockies

In [40]:
#Adding an entry to an existing dictionary is simply a matter of assigning a new key and value:

MLB_team['Kansas City'] = 'Royals'
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Mariners',
 'Kansas City': 'Royals'}

In [41]:
#Adding an entry to an existing dictionary is simply a matter of assigning a new key and value:

MLB_team['Kansas City'] = 'Royals'
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Mariners',
 'Kansas City': 'Royals'}

In [42]:
#Adding an entry to an existing dictionary is simply a matter of assigning a new key and value:

MLB_team['Kansas City'] = 'Royals'
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Mariners',
 'Kansas City': 'Royals'}

In [45]:
person = {}
type(person)

person['fname'] = 'Hack'
person['lname'] = 'Inalum'
person['age'] = 51
person['spouse'] = 'Edna'
person['children'] = ['Ralph', 'Betty', 'Joey']
person['pets'] = {'dog': 'Fido', 'cat': 'Sox'}

person

{'fname': 'Hack',
 'lname': 'Inalum',
 'age': 51,
 'spouse': 'Edna',
 'children': ['Ralph', 'Betty', 'Joey'],
 'pets': {'dog': 'Fido', 'cat': 'Sox'}}

In [46]:
print(person['children'])
print(person['children'][1])

['Ralph', 'Betty', 'Joey']
Betty

In [47]:
print(person['pets'])
print(person['pets']['cat'])

{'dog': 'Fido', 'cat': 'Sox'}
Sox

In [48]:
# Built-in Methods
d = {'a': 10, 'b': 20, 'c': 30}

# items
print(d.items())

# keys
print(d.keys())

# values
print(d.values())

dict_items([('a', 10), ('b', 20), ('c', 30)])
dict_keys(['a', 'b', 'c'])
dict_values([10, 20, 30])